.opportunities-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
  color: rgba(0, 0, 0, 0.57);
}

.opportunities-header-card {
  width: 100%;
  padding: 0.5px 0;
  margin-bottom: 15px;
}

.opportunities-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  text-align: left;
}

.opportunities-tabs {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.tab-button {
  flex: 1;
  padding: 1rem;
  background: white;
  border: 1.5px solid #86909C;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.57);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0;
  outline: none;
}

.tab-button:focus-visible {
  outline: none;
}

.tab-left {
  border-radius: 8px 0 0 8px;
}

.tab-right {
  border-radius: 0 8px 8px 0;
}

.tab-button:not(:last-child) {
  border-right: none;
}

.tab-button.active {
  background-color: #3B8223;
  color: white;
}

.opportunities-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.controls-left,
.controls-right {
  display: flex;
  align-items: center;
}

.controls-left {
  gap: 0.75rem;
}

.control-button,
.search-field {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.57);
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.57);
  width: 200px;
}

.icon-image {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.dashboard-section {
  margin-bottom: 2rem;
  max-height: 24rem;
  overflow-y: auto;
}

.cards-wrapper {
  padding-right: 8px;
  box-sizing: content-box;
}