.section-four {
  position: relative;
}

.team-header {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  font-size: 1.7rem;
  font-weight: 650;
  color: #000;
}

.team-member-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: flex-start;
}