.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  display: flex;
  flex-grow: 1;
  background-color: #f0f2f5;
  overflow: hidden;
}

.sidebar {
  width: 17.5rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  flex-shrink: 0;
}

.sidebar-tab {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-tab:hover,
.active-tab {
  background-color: #efefef;
  font-weight: bold;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.content {
  flex-grow: 1;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
}

.scrollable-content {
  overflow-y: auto;
}

.sidebar * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar *::-webkit-scrollbar {
  display: none;
}